@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: fit-content;
    
}

* {
    box-sizing: border-box;
}

body {
    padding: 2rem;
    min-width: 600px;
    
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.header-title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.4rem;
    /* border: 1px solid red; */
}

.header-title svg {
    width: 3.5rem; 
}

.cpu-first {
    width: 12rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: oklch(48.744% 0.08299 194.813);
    color: oklch(95.612% 0.01264 236.91);
    border-radius: 8px;
    border: 1px solid oklch(48.744% 0.08299 194.813);

}

.game-stats {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

::backdrop {
    backdrop-filter: blur(15px); 
}



.main-body-container {
    /* border: 1px solid yellow; */
    display: grid;
    grid-template-columns: 1fr minmax(700px, 2fr) 1fr;
    background-color: oklch(70.744% 0.08299 194.813); 
    padding: 2rem;
    border-radius: 8px;
    
}




.gameboard-container {
   /* border: 3px solid red; */
    display: grid;
    grid-template-columns: repeat(3, minmax(5rem, 10rem)); 
    grid-template-rows: repeat(3, minmax(5rem, 10rem));
    gap: 0.1rem; 
    justify-content: center; 
    align-items: center;
    justify-self: center;
    background-color: white;
    padding: 0.6rem;
    border-radius: 6px;
}

.gameboard-container .case {
    width: 95%;
    height: 95%;
    margin: 0;
    padding: 1rem;
    border: 5px solid oklch(48.744% 0.08299 194.813);
    background-color: oklch(95.612% 0.01264 236.91);
    border-radius: 9px;
    justify-self: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-panel, .right-panel{
/* border: 2px solid blue;  */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
}

.left-panel button {
    width: 12rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: oklch(48.744% 0.08299 194.813);
    color: oklch(95.612% 0.01264 236.91);
    border-radius: 8px;
    border: 1px solid oklch(48.744% 0.08299 194.813);
} 

.right-box2 {
    /* border: 2px solid red; */
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: oklch(48.744% 0.08299 194.813);
    color: oklch(95.612% 0.01264 236.91);
    border-radius: 8px;
    /* border: 1px solid oklch(48.744% 0.08299 194.813); */
}

.right-box2-1 {
    /* border: 3px solid green;  */
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box2 .score-div {
    /* border: 1px solid oklch(70.744% 0.08299 194.813); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;  
    height: 4rem;
    border-radius: 50%;
    background-color: oklch(10.744% 0.08299 194.813 / 50%); 
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
    
}

.right-box2 .score-box-title {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;

}

.should-glow-element{
    border: 3px solid transparent;
    background:
    linear-gradient(oklch(10.744% 0.08299 194.813), oklch(10.744% 0.08299 194.813)) padding-box,
    conic-gradient(from var(--angle, 0), transparent, #ff005ddf,#6200ff, transparent 80%) border-box;
    /* conic-gradient(from var(--angle, 0), transparent, white 10%, transparent 60%) */

} 