@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: fit-content;
    
}

* {
    box-sizing: border-box;
}

/* div {
  border: 1px solid red;   
} */

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cpu-first {
    width: 12rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: oklch(48.744% 0.08299 194.813);
    color: oklch(95.612% 0.01264 236.91);
    border-radius: 8px;
    border: 1px solid oklch(48.744% 0.08299 194.813);

}

.game-stats {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

::backdrop {
    backdrop-filter: blur(15px); 
}

.gameboard-container {
   /*  border: 3px solid red; */
    display: grid;
    grid-template-columns: repeat(3, minmax(5rem, 10rem)); 
    grid-template-rows: repeat(3, minmax(5rem, 10rem));
    gap: 0.1rem; 
    justify-content: center; 
    align-items: center;
    justify-self: center;
    background-color: white;
    padding: 0.6rem;
    border-radius: 6px;
}

.gameboard-container .case {
    width: 95%;
    height: 95%;
    margin: 0;
    padding: 1rem;
    border: 5px solid oklch(48.744% 0.08299 194.813);
    background-color: oklch(95.612% 0.01264 236.91);
    border-radius: 9px;
    justify-self: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

